#activation.centerbox.white-well
  .boxtitle
    账户激活
  .boxdetail
    small
      我们需要您补完下面的资料以激活您的账户
  form
    .input-name
      input(type="text", placeholder="姓名")
    .input-phone
      input(type="text", placeholder="联系电话")
    .input-email
      input(type="text", placeholder="E-mail地址")
    .action
      button.btn.btn-primary(type="submit") 继续

