doctype default
include mixins
html
  head
    block head
      block meta
        //- Metadata Section, Encoding & ViewPort
        meta(charset="utf-8")
        mixin viewport
        mixin ua-compatible
      block favicon
      block style
        mixin stylesheet("bootstrap/css/bootstrap.css")
        mixin stylesheet("bootstrap/css/bootstrap-responsive.css")
        mixin stylesheet("bootstrap/css/datepicker.css")
        mixin stylesheet("bootstrap/css/bootstrap-fileupload.css")
  body
    block content
    block script
      mixin javascript("js/respond.min.js")
      mixin javascript("js/underscore-min.js")
      mixin javascript("js/jquery.min.js")
      mixin javascript("js/backbone-min.js")
      mixin javascript("js/jquery.iframe-transport.js")
      mixin javascript("js/fastclick.min.js")
      mixin javascript("bootstrap/js/bootstrap-datepicker.js")
      mixin javascript("bootstrap/js/locales/bootstrap-datepicker.zh-CN.js")
      mixin javascript("bootstrap/js/bootstrap-button.js")
      mixin javascript("bootstrap/js/bootstrap-dropdown.js")
      mixin javascript("bootstrap/js/bootstrap-fileupload.js")
      //- Jade-Runtime
      mixin javascript("js/runtime.min.js")
      mixin javascript("js/md5.js")
