
mixin bootstrap-fileupload(fieldname, accepts)
  - if (!accepts) {
  -   accepts = "*/*"
  - }
  .fileupload.fileupload-new(data-provides="fileupload")
    .input-append
      .uneditable-input.span3
        i.icon-file.fileupload-exists
        span.fileupload-preview
      span.btn.btn-file
        span.fileupload-new 选择文件
        span.fileupload-exists 更改
        input(name=fieldname, type="file", accept=accepts)
      a(href="#", data-dismiss="fileupload").btn.fileupload-exists 取消

mixin bootstrap-datepicker(fieldname)
  .input-append.date(data-date-format="yyyy-mm-dd",
    data-date-language="zh-CN", data-date-today-btn="linked",
    data-date-autoclose="true")
    input.input(name=fieldname, type="text")
    span.add-on
      i.icon-calendar

