#dashboard.row-fluid
  .sidebar.span4.white-well
    .bulletin.alert.alert-success
      h4 系统公告
      .bulletin-text 暂无系统公告
    .profile.row-fluid
      .photo.span6
        img#profile-photo.img-polaroid
      .profile-text.span6
        div#profile-name(data-label="姓名")
        div#profile-id(data-label="编号")
        div#profile-phone(data-label="电话")
        div#profile-email(data-label="邮箱")
    .logout
      a.btn.btn-inverse.btn-normal(href="#logout") 注销
    ul.nav.nav-list
      li.nav-header 位置
      li: a(href="#dashboard/home")
        i.icon-home
        | 首页
      li.visible-condition(data-vc-student="1 2", data-vc-professor="1 2 3 4", data-vc-admin="1 2 3 4"): a(href="#dashboard/course")
        i.icon-th-list
        | 实习职位
      li.visible-condition(data-vc-admin="0 1 2 3 4"): a(href="#dashboard/task")
        i.icon-tasks
        | 任务配置项
      li.visible-condition(data-vc-professor="5 6 7", data-vc-admin="4 5 6 7"): a(href="#dashboard/student")
        i.icon-user
        | 学生管理
      li.visible-condition(data-vc-student="3 4 5 6 7"): a(href="#dashboard/intern")
        i.icon-star
        | 实习信息
      li.visible-condition(data-vc-admin="*"): a(href="#dashboard/administration")
        i.icon-wrench
        | 系统管理
      li: a(href="#dashboard/setting")
        i.icon-cog
        | 设置
      li.divider
      li: a(href="#dashboard/faq")
        i.icon-book
        | 常见问题

  .span8
    #dashboard-content

