
link(rel="apple-touch-icon", href="/img/favicon@57.png")
link(rel="icon", href="/img/favicon@256.png", sizes="256x256")
link(rel="icon", href="/img/favicon@64.png", sizes="64x64")
link(rel="icon", href="/img/favicon@32.png", sizes="32x32")
link(rel="icon", href="/img/favicon@16.png", sizes="16x16")
meta(name="msapplication-TileImage", content="/img/favicon@144.png")

