extends bootstrap
append head
  title 北京邮电大学软件学院实习管理系统
append favicon
  include favicon
append style
  mixin stylesheet("style/ui.css")
  mixin stylesheet("style/framework.css")
  mixin stylesheet("style/login.css")
  mixin stylesheet("style/dashboard.css")
  mixin stylesheet("style/schedule.css")
  mixin stylesheet("style/card.css")
  mixin stylesheet("style/visible-condition.css")
append script
  mixin javascript("js/app.js")
block content
  #wrapper
    #content.container
    #notifications
    #footer
      .container
        .row-fluid
          .banner.span8
          .copyright.span4
            p
              | Powered by&nbsp;
              a(href="http://jquery.com", target="_blank") jQuery
              | &nbsp;and&nbsp;
              a(href="http://twitter.github.com/bootstrap/", target="_blank") Bootstrap
              br
              | Copyright &copy; shinohane 2013
