#login.centerbox.white-well
  .boxtitle
    用户登录
  form
    .username
      input(name="username", type="text", placeholder="用户名")
    .password
      input(name="password", type="password", placeholder="密码")
    .action
      button.btn.btn-primary(type="submit") 登录

