include ../components
form.form-horizontal.clearfix
  fieldset
    .legend 账户信息
    .control-group
      label.control-label 用户名
      .controls
        input(name="username", type="text", disabled)
    .control-group
      label.control-label 密码
      .controls
        .input-append.fieldset-reset-password
          input(name="password", type="text")
          button.btn.btn-reset-cancel(type="button") 取消
        button.btn.btn-reset-password(type="button") 重置密码
    .control-group
      label.control-label 权限组
      .controls
        .btn-group(data-toggle="buttons-radio").radio-group
          button.btn(type="button", data-val="student") 学生
          button.btn(type="button", data-val="professor") 导师
          button.btn(type="button", data-val="admin", disabled) 管理员
  fieldset
    .legend 用户资料
    .control-group
      label.control-label 姓名
      .controls
        input(name="name", type="text")
    .control-group
      label.control-label E-mail
      .controls
        input(name="email", type="text")
    .control-group
      label.control-label 电话
      .controls
        input(name="phone", type="text")
  .alert.alert-error.alert-block.note-delete.hide
    a.close(type="button") &times;
    h4 删除用户
    p 删除用户将会使该用户的资料永久丢失，是否继续执行此操作？
    p
      button.btn.btn-danger.btn-confirm-delete(type="button") 继续执行
      | &nbsp;
      button.btn.btn-cancel-delete(type="button") 放弃
  .btn-toolbars.pull-right
    button.btn.btn-primary.btn-large(type="submit") 保存
    button.btn.btn-danger.btn-large.btn-delete(type="button") 删除
    a.btn.btn-large(href="#dashboard/administration/account") 返回
