.clearfix
  .btn-toolbar.pull-right
    a.btn(href="#dashboard/administration/account/import") 导入用户
    a.btn.btn-primary(href="#dashboard/administration/account/+/edit") 新用户
table.table.table-bordered.table-hover.table-striped.table-clickable.table-responsive
  thead
    tr
      th 用户名
      th 权限
      th 姓名
      th Email
  tbody

