include ../components
form.form-horizontal.clearfix
  .legend 导入用户
  .control-group
    label.control-label 用户文件
    .controls
      .account-import-upload
        mixin bootstrap-fileupload("import", ".csv")
      span.help-block
        | 通过上传符合格式的
        a(href="/files/account-import-template.csv", title="CSV文件模板") CSV文件
        | 导入用户
  .btn-toolbars.pull-right
    button.btn.btn-primary.btn-large(type="submit") 保存
    a.btn.btn-large(href="#dashboard/administration/account") 返回
.import-report.hide
  .legend 导入报告
  .alert.alert-info
    | &nbsp;上传导入的文档中包含&nbsp;
    b: span.report-field-count
    | &nbsp;条用户记录, 成功创建&nbsp;
    b: span.report-field-created
    | &nbsp;个用户账户
  .error-info
    .alert.alert-error 以下条目无法创建用户账户，请查证后进行重新导入
    table.table.table-bordered.table-hover.table-striped
      thead
        tr
          th 行号
          th 用户名
          th 姓名
          th 失败原因
      tbody

