
form.form-horizontal.clearfix
  .control-group
    label.control-label 系统公告
    .controls
      textarea.input.span12.vresize(name="bulletin", type='text', rows='4')
  .btn-toolbars.pull-right
    button.btn.btn-primary.btn-large(type="submit") 发布

