
form.form-horizontal.clearfix
  textarea.input.span12.vresize(name="faq", type='text', rows='20')
  .alert
    small 文本使用&nbsp;
    a(href="http://zh.wikipedia.org/wiki/Markdown", target="_blank") Markdown
    | &nbsp;标记语法
  .btn-toolbars.pull-right
    button.btn.btn-primary.btn-large(type="submit") 发布
