include ../components
form.form-horizontal.form-phase
  fieldset
    .legend 阶段切换
    .control-group
      label.control-label 当前阶段
      .controls
        input(name="phase", type="text", disabled)
    .control-group
      label.control-label 密码确认
      .controls
        input(name="password", type="password")
  .btn-toolbars.clearfix
    button.btn.btn-large.btn-prev.pull-left(type="button") 上一阶段
    button.btn.btn-primary.btn-large.btn-next.pull-right(type="button") 下一阶段
form.form-horizontal.clearfix.form-schedule
  fieldset
    .legend 计划设定
    .control-group
      label.control-label 系统准备
      .controls
        mixin bootstrap-datepicker("date")
    .control-group
      label.control-label 职位发布
      .controls
        mixin bootstrap-datepicker("date")
    .control-group
      label.control-label 实习申报
      .controls
        mixin bootstrap-datepicker("date")
    .control-group
      label.control-label 导师录用
      .controls
        mixin bootstrap-datepicker("date")
    .control-group
      label.control-label 课程调剂
      .controls
        mixin bootstrap-datepicker("date")
    .control-group
      label.control-label 实习进行
      .controls
        mixin bootstrap-datepicker("date")
    .control-group
      label.control-label 导师评分
      .controls
        mixin bootstrap-datepicker("date")
    .control-group
      label.control-label 课程结束
      .controls
        mixin bootstrap-datepicker("date")
  .btn-toolbars.pull-right
    button.btn.btn-primary.btn-large(type="submit") 保存
