@import "elements";
@import "color";
@import "variables";

@triangle-height: 48px;

.card-color(@accent-color) {

    color: @accent-color;
    background: lighten(@accent-color, 40%);

    .corner-mark {
        border-top: @triangle-height solid lighten(@accent-color, 10%);
        border-left: @triangle-height solid @transparent;
        border-right: @triangle-height solid @transparent;
    }

    span.label {
        background: lighten(@accent-color, 10%);
    }

}

.card {

    .transition();

    .card-content {
        position: relative;
        overflow: hidden;
        padding: 12px 24px;

        margin: 0px !important;

        .card-color(darken(@border-color, 10%));

        &:hover {
            .card-color(darken(@border-color, 20%));
        }

        .transition();

    }

    span.label {
        .transition();
    }

    .corner-mark {
        float: right;

        // padding of .card-content
        right: -@triangle-height;
        top: 0px;

        width: 0px;
        height: 0px;

        position: absolute;

        .transition();
    }

    .corner-mark:after {
        display: block;
        position: relative;
        content: attr(data-text);

        font-size: 22px;
        font-weight: bold;
        color: white;

        // pull text up by 2 line
        top: 0 - @triangle-height;
        margin-left: 0 - @triangle-height;
        width: @triangle-height;
        height: @triangle-height;

        text-align: center;

        padding-left: @triangle-height / 4;
        padding-bottom: @triangle-height / 4;

        line-height: @triangle-height / 3 * 2;
        vertical-align: middle;
    }

}

.card-success {
    .card-content { .card-color(lighten(@green, 10%)); }
}

.card-info {
    .card-content { .card-color(lighten(@blue, 10%)); }
}

.card-error {
    .card-content { .card-color(lighten(@red, 10%)); }
}

.card-warning {
    .card-content { .card-color(lighten(@yellow, 10%)); }
}

.card-success .card-content:hover {
    .card-color(@green);
}

.card-info .card-content:hover {
    .card-color(@blue);
}

.card-error .card-content:hover {
    .card-color(@red);
}

.card-warning .card-content:hover {
    .card-color(@yellow);
}

.card-dimension(@fluidGridGutterWidth) {

    .card {
        margin: 0px @fluidGridGutterWidth * 0.5 12px 0px !important;
        padding-right: @fluidGridGutterWidth * 0.5;
    }

}

.card-dimension(@fluidGridGutterWidth);

@media (min-width: 1200px) {

    .card-dimension(@fluidGridGutterWidth1200);

}

@media (min-width: 768px) and (max-width: 979px) {

    .card-dimension(@fluidGridGutterWidth768);

}

@media (max-width: 767px) {

    .card-dimension(0px);

}

