
@border-color: #D4D4D4;

@footer-background: #FFFFFF;

@body-background: #E5E5E5;

@transparent: rgba(0, 0, 0, 0);

// accent colors
@blue: #3a87ad;
@green: #468847;
@red: #b94a48;
@yellow: #c09853;

