@import "color";
@import "elements";

#dashboard {

    #dashboard-content .white-well {
        padding: 12px 24px;
        margin-bottom: 12px;
    }

    .sidebar {
        padding-bottom: 12px;
        margin-bottom: 12px;
    }

    .bulletin {
        margin-bottom: 4px;
        padding-right: 14px;
    }

    .bulletin-text {
        white-space: pre-wrap;
        margin-top: 4px;
    }

    .profile .photo {
        padding: 12px;
        text-align: center;
    }

    .profile-text {
        position: relative;
        padding-top: 16px;
        padding-right: 12px;
        text-align: left;

        @label-width: 32px;

        div {
            padding-left: @label-width;
            overflow: hidden;
            word-wrap: break-word;
        }

        div:before {
            position: absolute;
            left: -8px;
            width: @label-width;
            text-align: right;
            font-weight: bold;
            white-space: nowrap;
            content: attr(data-label);
        }

        @media (max-width: 767px) {

            div {
                padding-left: 50%;
            }

            div:before {
                width: 50%;
            }

        }

    }

    .profile {
        margin-bottom: 4px;
    }

    .logout {
        text-align: center;
        border-bottom: 1px solid @border-color;
        padding-bottom: 12px;
        margin-bottom: 4px;
    }

}

.position-view {

    table tr td:first-child {
        text-align: right;
        font-weight: bold;
    }

    table h4 {
        margin-right: 12px;
    }

}

.intern {

    .textfield {
        padding-top: 5px;
        float: left;
    }

}

a.btn,
.btn-toolbars .btn {
    margin-left: 4px;
    margin-right: 4px;
}

.nav-list li.active i {
    background-image: url("../bt/img/glyphicons-halflings-white.png");
}

.nav i, .btn i {
    &[class^="icon-"], &[class*=" icon-"] {
        margin-right: 6px !important;
    }
}

