@import "color";
@import "elements";

@footerHeight: 90px;

body {
    overflow-y: scroll;
}

#wrapper {
    width: 100%;
    min-height: 100%;
    position: relative;
}

#content {
    padding-bottom: @footerHeight + 12px;
    padding-top: 24px;
}

#footer {
    height: @footerHeight;
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: @footer-background;
    border-top: 1px solid @border-color;

    .banner {
        height: 111px;
        background: url(/img/banner.png) no-repeat;
        margin-top: @footerHeight - 111px;
    }

    .copyright {
        padding-top: 25px;
        padding-right: 20px;
        text-align: right;
    }
}

#notifications {

    position: fixed;
    width: 100%;
    top: 0px;

    padding-top: 20px;
    text-align: center;

    pointer-events: none;

    .note, .text {
        pointer-events: auto;

        display: inline-block;
        text-align: left;
        max-width: 100%;
        min-width: 20%;
    }

    .wrapper {
        .opacity(0);
        max-height: 0px;
        overflow: visible;
        .transition;
    }

    .wrapper.active {
        .opacity(1);
        max-height: 120px;
    }

}

@media (max-width: 767px) {

    #content {
        padding-bottom: @footerHeight * 2 + 10px;
    }

    #footer {
        height: @footerHeight * 2;
    }

}

textarea {
    font-family: monospace;

    &.vresize {
        resize: vertical;
    }

    &.noresize {
        resize: none;
    }
}

.table-clickable tbody tr {
    cursor: pointer;
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 768px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    .table-responsive,
    .table-responsive thead,
    .table-responsive tbody,
    .table-responsive th,
    .table-responsive td,
    .table-responsive tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .table-responsive thead {
        position: absolute;
        width: 0px;
        height: 0px;
        overflow: hidden;
    }

    .table-responsive td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 30%;
    }

    .table-responsive td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        left: -10px;
        width: 30%;
        text-align: right;
        white-space: nowrap;
        font-weight: bold;
        content: attr(data-label);
    }

    .table-responsive td:after {
        content: "　";
    }

    .table-responsive.table-bordered tr {
        border-left: 1px solid #dddddd;
    }

}

.text-center {
    text-align: center !important;
}
