@import "color";
@import "framework";
@import "elements";

.centerbox {

    position: absolute;
    top: 0;
    bottom: @footerHeight;
    left: 0;
    right: 0;
    margin: auto;

    .boxtitle {
        font-size: 20px;
        padding: 12px 24px;
        margin-bottom: 8px;
        margin-top: 8px;
    }

    .boxdetail {
        font-size: 16px;
        padding: 12px 24px;
        margin-bottom: 8px;
        margin-top: 8px;
    }

    padding-bottom: 8px;

    overflow: hidden;

    input {
        margin: 8px 24px;
    }

    .action {
        margin: 8px 24px;
        float: right;

        button {
            margin-left: 12px;
        }
    }
}

#login {
    height: 208px;
    width: 268px;

    input {
        width: 206px;
    }
}

#activation {
    height: 348px;
    width: 268px;

    input {
        width: 206px;
    }
}

#upgrade-alert {
    height: 280px;
    width: 390px;
    padding: 16px;
}

.white-well {
    background: white;
    .rounded(5px);
    .box-shadow(inset 0 1px 1px rgba(0,0,0,0.05));
    border: 1px solid @border-color;
}

@media (max-width: 767px) {

    .centerbox {
        bottom: @footerHeight * 2;
    }

}
