@import "color";

::selection {
    background: #FF5E99;
    color: #fff;
    text-shadow: none;
}

a:focus, :focus { outline: none !important; }
::-moz-focus-inner { border: 0 !important; }
input { outline-style: none !important; }

html,
body {
    font-family: Tahoma, Helvetica, Arial, DejaVu Sans, sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: @body-background;
}

.legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    color: #333333;
    border: 0;
}

form fieldset {
    border-bottom: 1px solid @border-color;
    margin-bottom: 24px;
}

.controls .constant {
    padding-top: 5px;
    margin-bottom: 5px;
}

