
/*
 * Conditional Visibility Toggle View
 */

.group(@name, @phase) {

    // Trick: http://stackoverflow.com/questions/18674761/less-mix-variable-into-attribute-name-in-an-attribute-selector-expression/
    @vcattr: ~"data-vc-@{name}";

    .group-@{name}.phase-@{phase} .visible-condition:not([@{vcattr}~="@{phase}"]):not([@{vcattr}~="*"]) {
        // Hide
        display: none;
    }

}

.eachphase(-1) { }
.eachphase(@phase) when (@phase >= 0){
    .group(admin, @phase);
    .group(professor, @phase);
    .group(student, @phase);
    .eachphase(@phase - 1);
}

.eachphase(7);

