.white-well
  ul.nav.nav-pills
    li: a(href="#dashboard/administration/bulletin") 系统公告
    li: a(href="#dashboard/administration/account") 用户管理
    li: a(href="#dashboard/administration/schedule") 进度表
    li: a(href="#dashboard/administration/faq") 常见问题
  #administration-content

