mixin operation
  td.text-center(data-label="操作").visible-condition(data-vc-student="2")
    //- a 上移
    //- | &nbsp;
    //- a 下移
    //- | &nbsp;
    a.cancel(href="#") 取消
.white-well
  .legend 志愿填报
  table.table.table-bordered.table-striped.table-hover.table-clickable
    colgroup
      col(width="100px")
      col
      col(width="60px").visible-condition(data-vc-student="2")
    thead
      tr
        th
        th 职位/公司
        th.visible-condition(data-vc-student="2")
    tbody
      tr
        td.text-center 第一志愿
        td(data-label="志愿").choice
        mixin operation
      tr
        td.text-center 第二志愿
        td(data-label="志愿").choice
        mixin operation
      tr
        td.text-center 第三志愿
        td(data-label="志愿").choice
        mixin operation

