.white-well
  form.form-horizontal.clearfix
    fieldset
      .btn-toolbars.pull-right
        .btn-group.visible-condition(data-vc-student="2")
          a.btn.btn-primary.btn-large.dropdown-toggle(data-toggle="dropdown", href="#")
            填报&nbsp;
            span.caret
          ul.dropdown-menu
            li: a(href="#").make-choice 第一志愿
            li: a(href="#").make-choice 第二志愿
            li: a(href="#").make-choice 第三志愿
        button.btn.btn-primary.btn-large(type="button").btn-edit.visible-condition(data-vc-admin="*", data-vc-professor="0 1 2") 编辑
        a.btn.btn-large(href="#dashboard/course") 关闭
      .legend 基本信息
      .control-group
        label.control-label 职位名称
        .controls
          .constant.field-name
      .control-group
        label.control-label 所在部门
        .controls
          .constant.field-department
      .control-group
        label.control-label 招工人数
        .controls
          .constant.field-demand
      .control-group
        label.control-label 薪资水平
        .controls
          .constant.field-salary
      .control-group
        label.control-label 描述
        .controls
          .constant.field-brief
    fieldset
      .legend 企业导师信息
      .control-group
        label.control-label 姓名
        .controls
          .constant.field-mentor-name
      .control-group
        label.control-label 性别
        .controls
          .constant.field-mentor-gender
      .control-group
        label.control-label 职务
        .controls
          .constant.field-mentor-position
      .control-group
        label.control-label 电话
        .controls
          .constant.field-mentor-phone
      .control-group
        label.control-label E-mail
        .controls
          .constant.field-mentor-email
    fieldset
      .legend 公司信息
      .control-group
        label.control-label 公司名称
        .controls
          .constant.field-enterprise-name
      .control-group
        label.control-label 公司首页
        .controls
          .constant.field-enterprise-website
      .control-group
        label.control-label 公司地址
        .controls
          .constant.field-enterprise-address
    fieldset.visible-condition(data-vc-admin="2 3 4", data-vc-professor="2 3")
      .legend 志愿情况
      .control-group
        label.control-label 第一志愿
        .controls
          .constant.selected-as-choice.first
      .control-group
        label.control-label 第二志愿
        .controls
          .constant.selected-as-choice.second
      .control-group
        label.control-label 第三志愿
        .controls
          .constant.selected-as-choice.third

