td(data-label="职位/公司") #{enterprise && enterprise.name || "/"} - #{name || "/"}
td(data-label="岗位数") #{demand || 0}
td(data-label="发布者") #{creator || "/"}
td(data-label="发布时间") #{util.formatDate(new Date(created_at || 0))}
