.white-well
  .legend 实习职位
  .clearfix.visible-condition(data-vc-admin="*", data-vc-professor="1")
    .btn-toolbar.pull-right
      a.btn.btn-primary(href="#dashboard/course/+/edit") 新职位
  table.table.table-bordered.table-striped.table-hover.table-clickable.table-responsive
    thead
      tr
        th 职位/公司
        th 岗位数
        th 发布者
        th 发布时间
    tbody

