.white-well
  form.form-horizontal.clearfix
    fieldset
      .legend 基本信息
      .control-group
        label.control-label 职位名称
        .controls
          input(name="name", type="text")
      .control-group
        label.control-label 所在部门
        .controls
          input(name="department", type="text")
      .control-group
        label.control-label 招工人数
        .controls
          input.input-mini(name="demand", type="text")
      .control-group
        label.control-label 薪资水平
        .controls
          .btn-group(data-toggle="buttons-radio").radio-salary
            button.btn(type="button", data-val="lt1000") &lt;1K
            button.btn(type="button", data-val="ap1500") 1K-2K
            button.btn(type="button", data-val="ap2500") 2K-3K
            button.btn(type="button", data-val="gt3000") &gt;3K
      .control-group
        label.control-label 描述
        .controls
          textarea.vresize.span12(name="brief", rows="6")
    fieldset
      .legend 企业导师信息
      .control-group
        label.control-label 姓名
        .controls
          input(name="mentor_name", type="text")
      .control-group
        label.control-label 性别
        .controls
          .btn-group(data-toggle="buttons-radio").radio-mentor-gender
            button.btn(type="button", data-val="m") 先生
            button.btn(type="button", data-val="f") 女士
      .control-group
        label.control-label 职务
        .controls
          input(name="mentor_position", type="text")
      .control-group
        label.control-label 电话
        .controls
          input(name="mentor_phone", type="text")
      .control-group
        label.control-label E-mail
        .controls
          input(name="mentor_email", type="email")
    fieldset
      .legend 公司信息
      .control-group
        label.control-label 公司名称
        .controls
          input(name="enterprise_name", type="text")
      .control-group
        label.control-label 公司首页
        .controls
          input(name="enterprise_website", type="text")
      .control-group
        label.control-label 公司地址
        .controls
          input(name="enterprise_address", type="text")
    .alert.alert-error.alert-block.note-delete.hide
      a.close(type="button") &times;
      h4 删除职位信息
      p 即将删除该职位的信息，是否继续执行此操作？
      p
        button.btn.btn-danger.btn-confirm-delete(type="button") 继续执行
        | &nbsp;
        button.btn.btn-cancel-delete(type="button") 放弃
    .btn-toolbars.pull-right
      button.btn.btn-primary.btn-large(type="submit") 提交
      button.btn.btn-danger.btn-large.btn-delete(type="button") 删除
      a.btn.btn-large(href="#dashboard/course") 关闭
