mixin due-date()
  p: b 完成时间&nbsp;
    span.label.due-date 2013-9-12
.card-wrapper
  .card(data-phase="0")
    .white-well.card-content
      .corner-mark(data-text="0")
      h4 系统准备
      p: b 工作内容
      p.group-non-admin 管理员进行用户注册、进度配置等工作
      p.group-admin 您可以进行用户注册、进度配置等工作，完成后可进入进入下一个系统阶段
      mixin due-date()
      .phase-action
        .group-admin
          p: b 可进行的任务
          p
            a.btn(href="#dashboard/administration/account") 用户管理
            a.btn(href="#dashboard/administration/schedule") 进度配置
        .group-non-admin
          p: b 没有推荐执行的操作
  .card(data-phase="1")
    .white-well.card-content
      .corner-mark(data-text="1")
      h4 职位发布
      p: b 工作内容
      p.group-non-professor 导师编辑课程信息（职位的基本信息以及课程需要提交的材料）
      p.group-professor 请您编辑课程信息（职位信息）并对课程内容进行设计和提交
      mixin due-date()
      .phase-action
        .group-professor
          p: b 可进行的任务
          p
            a.btn(href="#dashboard/course") 职位管理
            a.btn(href="#dashboard/course") 目标管理
        .group-non-professor
          p: b 没有推荐执行的操作
  .card(data-phase="2")
    .white-well.card-content
      .corner-mark(data-text="2")
      h4 实习申报
      p: b 工作内容
      p.group-non-student 学生选择志愿，提交申请
      p.group-student
        选择您希望就职的企业，您可以申请至多3个志愿，志愿申请后请耐心等待导师录用
      mixin due-date()
      .phase-action
        .group-student
          p: b 可进行的任务
          p
            a.btn(href="#dashboard/course") 志愿选择
        .group-non-student
          p: b 没有推荐执行的操作
  .card(data-phase="3")
    .white-well.card-content
      .corner-mark(data-text="3")
      h4 导师录用
      p: b 工作内容
      p.group-non-professor 导师从选报课程的学生中录用学生进入公司实习
      p.group-professor 请您从选报课程的学生中选取录用进入公司实习
      mixin due-date()
  .card(data-phase="4")
    .white-well.card-content
      .corner-mark(data-text="4")
      h4 课程调剂
      p: b 工作内容
      p.group-non-admin 管理员对入职信息进行调整确认，分配剩余的职位
      p.group-admin 请您对入职信息进行最后的调整确认
      mixin due-date()
  .card(data-phase="5")
    .white-well.card-content
      .corner-mark(data-text="5")
      h4 实习进行
      p: b 工作内容
      p.group-student 实习进行中，请您按时提交完成实习所需要的资料
      p.group-professor 学生在职实习中，您可以查看实习情况
      p.group-admin 学生进行实习，提交实习课程所需要的资料
      mixin due-date()
  .card(data-phase="6")
    .white-well.card-content
      .corner-mark(data-text="6")
      h4 导师评分
      p: b 工作内容
      p.group-professor 请您根据学生的实习表现，给出学生的课程成绩
      p.group-non-professor 导师根据实习表现给出学生的科目成绩
      mixin due-date()
  .card(data-phase="7")
    .white-well.card-content
      .corner-mark(data-text="F")
      h4 课程结束
      p: b 工作内容
      p.group-admin 请您对系统进行归档，可导出系统资料
      p.group-non-admin 课程结果发布、管理员对系统进行整理和后期维护
      mixin due-date()
