include ../components
.white-well
  form.form-horizontal.clearfix#change-profile
    fieldset
      .legend 基本信息
      .control-group
        label.control-label 姓名
        .controls
          input.disable(name="name", type="text", disabled)
      .control-group
        label.control-label 编号
        .controls
          input.disable(name="id", type="text", disabled)
      .control-group
        label.control-label E-mail
        .controls
          input.disable(name="email", type="text", disabled)
      .control-group
        label.control-label 头像
        .controls
          a(href="http://gravatar.com/emails/", target="_blank", data-toggle="tooltip", title="通过Gravatar修改头像")
            img.img-polaroid.profile-photo
      .control-group
        label.control-label 电话
        .controls
          input.disable(name="phone", type="text")
    fieldset
      .legend 相关资料
      .control-group
        label.control-label 个人简历
        .controls
          .profile-resume-upload
            mixin bootstrap-fileupload("resume")
          a.btn.profile-resume-download
            i.icon-download-alt
            | 下载简历
          a.btn.btn-inverse.profile-resume-delete
            i.icon-trash.icon-white
            | 删除简历
    .btn-toolbars.pull-right
      button.btn.btn-primary.btn-large(type="submit") 保存
.white-well
  form.form-horizontal.clearfix#change-password
    fieldset
      .legend 修改密码
      .control-group
        label.control-label 原密码
        .controls
          input(name='oldpass', type='password')
      .control-group
        label.control-label 新密码
        .controls
          input(name='newpass', type='password')
      .control-group
        label.control-label 重复新密码
        .controls
          input(name='confirmpass', type='password')
    .btn-toolbars.pull-right
      button.btn.btn-primary.btn-large(type="submit") 保存
