.white-well
  .legend 任务配置项
  p
    | 任务配置项是可重复用于课程任务编辑的配置项，管理员配置全局可见的任务配置项，
    | 各导师也可以创建自己的配置项，以方便课程任务的编辑
  .btn-toolbar.clearfix
    a.btn.btn-primary(href="#dashboard/task/+/edit").pull-right 新配置
  table.table.table-bordered.table-hover.table-striped
    thead
      tr
        th 名称
        th 类型
        th 完成时间
    tbody

