include ../components
.white-well
  form.form-horizontal.clearfix
    .legend 编辑配置项
    .control-group
      label.control-label 名称
      .controls
        input(name="name", type="text")
    .control-group
      label.control-label 类型
      .controls
        .btn-group.select-group(data-toggle="buttons-radio").radio-task-type
          button.btn.active(type="button", data-val="upload") 材料提交
    .control-group
      label.control-label 模板文件
      .controls
        .goal-template-upload
          mixin bootstrap-fileupload("template")
        a.btn.task-template-download
          i.icon-download-alt
          | 下载模板
        a.btn.btn-inverse.task-template-delete
          i.icon-trash.icon-white
          | 删除模板
    .control-group
      label.control-label 提交时间
      .controls
        mixin bootstrap-datepicker("due_date")
    .control-group
      label.control-label 评分比重
      .controls
        input.input-mini(name="share", type="text")
    .alert.alert-error.alert-block.note-delete.hide
      a.close(type="button") &times;
      h4 删除职位信息
      p 即将删除该职位的信息，是否继续执行此操作？
      p
        button.btn.btn-danger.btn-confirm-delete(type="button") 继续执行
        | &nbsp;
        button.btn.btn-cancel-delete(type="button") 放弃
    .btn-toolbars.pull-right
      button.btn.btn-primary.btn-large(type="submit") 保存
      button.btn.btn-danger.btn-large.btn-delete(type="button") 删除
      a.btn.btn-large(href="#dashboard/task") 返回
